gradio>=5.0.0
librosa>=0.10.2
matplotlib>=3.9.1
nbformat>=5.10.4
numpy>=1.26.4
pandas>=2.2.2
pydub>=0.25.1
pyloudnorm>=0.1.1
PyYAML>=6.0.1
scikit-learn>=1.5.1
scipy>=1.13.1
soundfile>=0.12.1
tabulate>=0.9.0
torch>=2.4.0
torchaudio>=2.4.0
tqdm>=4.66.4
